html {
	background-color: white;
/*	background-image: url("../images/background2.jpg");   */
    width: 100vw;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-repeat: no-repeat;
  	margin-top: 4rem;
	color: blue;
	font-family: arial, sans-serif;
	font-size: 1.2rem;
	font-weight: bolder;
	text-shadow: 0 0 5px white;
}

* {
    box-sizing: border-box;
}
body {
  	width: 95%;
	margin: 1rem auto;
	margin-top: 0;
	max-width: 1280px;
	display: block;
	text-align: center;
}

header {
	margin-top: -3rem;
 	padding-top: 0;
}
h1 {
	margin-top: 0;
	padding-top: 0;
}

img {
	height: 200px;
	width: auto;
}

main {

}

article {
/*	position: absolute;
	right: 5%;
	text-align: left;
	width: 50%;
}
*/

.target {
	margin-bottom: 1rem;
}

/*h2 {
	margin-bottom: 0rem;
}
h3 {
	margin-top: 0rem;
}*/


